<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
<div style="padding:15px">
<table class="pure-table" style="width:100%">
  <thead>
      <tr>
          <th>Dia</th>
          <th>Entrada</th>
          <th>Salida</th>
      </tr>
  </thead>

  <tbody>
      <tr class="pure-table-odd">
          <td>4/oct</td>
          <td>8:00am</td>
          <td>7:01pm</td>
      </tr>

      <tr>
          <td>5/oct</td>
          <td>8:01am</td>
          <td>6:33pm</td>
      </tr>

      <tr class="pure-table-odd">
          <td>6/oct</td>
          <td>7:56am</td>
          <td>6:31pm</td>
      </tr>

      <tr>
          <td>7/oct</td>
          <td>7:52am</td>
          <td>6:30pm</td>
      </tr>

      <tr class="pure-table-odd">
          <td>8/oct</td>
          <td>8:00am</td>
          <td>6:34pm</td>
      </tr>

  </tbody>
</table><br/>
<div class="row" *ngIf="authService.userData as user">
<p>Email: </p><strong>{{user.email}}</strong>
<p>creacion: </p><strong>{{user.creationTime}}</strong>
<p>lastLogIn: </p><strong>{{user.lastSignInTime}}</strong>
</div>
<div class="redirectToLogin">
            <button class="btn btn-block btn-primary"  routerLink="/menu">Regresar</button>
    <br/>     
</div>
</div>