<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
<div style="padding:15px">
<table class="pure-table" style="width:100%">
  <thead>
      <tr>
          <th>Dia</th>
          <th>Entrada</th>
          <th>Salida</th>
      </tr>
  </thead>

  <tbody>
      <!-- <tr class="pure-table-odd">
          <td>{{reporte.Entrada}}</td>
          <td>8:00am</td>
          <td>7:01pm</td>
      </tr> -->

      <tr *ngFor="let val of reporte;" class="pure-table-odd">   
                <td>{{ val.Entrada.dia }}</td>
          </tr>
<!-- 
<div *ngFor="let val of reporte;">
    <div *ngFor="let can of reporte">
        <tr><th>{{can.Entrada.dia}}</th><td>{{val.Entrada.Entrada}}</td></tr>
    </div>
</div> -->


  </tbody>
</table><br/>

<div class="redirectToLogin">
            <button class="btn btn-block btn-primary" (click)="authService.menu()">Regresar</button>
    <br/>     
</div>
</div>