<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
<div style="padding:15px">
<table class="pure-table" style="width:100%">
  <thead>
      <tr>
          <th>Dia</th>
          <th>Entrada</th>
          <th>Salida</th>
      </tr>
  </thead>
<tbody>
      <tr *ngFor="let val of reporte; let i = index" class="pure-table-odd">   
                <td *ngIf="i < 7">{{ val.Entrada.dia }} </td>
                <td *ngIf="i < 7">{{ val.Entrada.Entrada }}</td>
                    <div *ngFor="let vol of reporte; let o = index;">
                        <td *ngIf="o == 7">{{ vol.Salida.Salida }}</td>
                    </div>

    </tr>
</tbody>
</table><br/>

<div class="redirectToLogin">
            <button class="btn btn-block btn-primary" (click)="authService.menu()">Regresar</button>
    <br/>     
</div>
</div>