
<div class="box" >
    <div  *ngFor="let pregunta of informacionService.preguntas; let i = index ">
        <p *ngIf="i == 3">
           {{ pregunta.pregunta }}
        </p>
          </div>

<!---- start table ----->
<form (ngSubmit)="newPregunta4 (newPregunta4Form.value)" [formGroup]="newPregunta4Form" ngNativeValidate >
  <input type="hidden" formControlName="id">
  <div>
    <div>
  
      <label class="btn btn-light">
        <br>
        <img class="card-img-top" src="../assets/img/si.png" alt="Card image cap">
        <br>
        <br>
        <input type="radio" name="options" id="option1" formControlName="pregunta04" value="si" (check)="seleccionar()" >
        <br>
        <br>
        <label class="form-check-label" for="inlineRadio2">{{ lb_si }}</label>&nbsp;
        <br>
      </label>

  
        <label class="btn btn-light">
            <br>
            <img class="card-img-top" src="../assets/img/no.png" alt="Card image cap">
            <br>
            <br>
            <input type="radio" name="options" id="option2" formControlName="pregunta04" value="no" (check)="seleccionar()" >
            <br>
            <br>
            <label class="form-check-label" for="inlineRadio2">{{ lb_no }}</label>&nbsp;
            <br>
          </label>
        </div>    
      </div>
        <br>
    <input type="submit" class="btn-lg scbtn" [disabled]="newPregunta4Form.valid" >&nbsp;&nbsp;
  </form>
    </div>
