
h1{
    display: block;
    color: #666;
    text-align: center;
    font-size: 24px;    
}

small{
    font-weight: bold;
}

a{

    text-align: left;
display: block; 

}

nav
{
    display: block; 
}
