
h1{
    display: block;
    color: #000296;
    text-align: right;
    font-size: 24px;    
}
img{
    float: left;
}

small{
    font-weight: bold;
}

a{
    text-align: left;
    display: block; 
}

nav
{
    display: block; 
}
