<div  class="container" style="margin: 0px;" id="maximo">
    <div  *ngFor="let pregunta of informacionService.preguntas; let i = index ">
        <p *ngIf="i == 10">
        ¿Cómo evaluaría <i><b>la ubicación</b></i> del fraccionamiento?
        </p>
    </div>

<form (ngSubmit)="newPregunta11 (newPregunta11Form.value)" [formGroup]="newPregunta11Form" ngNativeValidate >
      <input type="hidden" formControlName="id">
<div>
<div>
    
<div class="container" id="maximo">
      <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
        <img class="card-img-top" src="assets/img/1.png" alt="Card image cap">
        <br>
        <input type="radio" id="option1" formControlName="pregunta11" value="1">
        <br>
        <label class="form-check-label" for="inlineRadio2">Muy</label>
        <br>
        <label class="form-check-label" for="inlineRadio2">Mala</label>
      </label>

      <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
          <img class="card-img-top" src="assets/img/2.png" alt="Card image cap">
          <br>
          <input type="radio" id="option2" formControlName="pregunta11" value="2" >
          <br>
          <label class="form-check-label" for="inlineRadio2">Mala</label>
          <br>
          <br>
        </label>

        <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
            <img class="card-img-top" src="assets/img/3.png" alt="Card image cap">
            <br>
            <input type="radio" id="option3" formControlName="pregunta11" value="3">
            <br>
            <label class="form-check-label" for="inlineRadio2">{{ lb_tres }}</label>
            <br>
            <br>
        </label>

        <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
            <img class="card-img-top" src="assets/img/4.png" alt="Card image cap">
            <br>
            <input type="radio" id="option4" formControlName="pregunta11" value="4">
            <br>
            <label class="form-check-label" for="inlineRadio2">Buena</label>
            <br>
            <br>
          </label>

          <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
              <img class="card-img-top" src="assets/img/5.png" alt="Card image cap">
              <br>
              <input type="radio" id="option5" formControlName="pregunta11" value="5"  >
              <br>
              <label class="form-check-label" for="inlineRadio2">Muy</label>
              <br>
              <label class="form-check-label" for="inlineRadio2">Buena</label>
            </label>
</div>
</div>
  </div>
  <div>
      <input type="submit" class=" btn-lg scbtn" [disabled]="!newPregunta11Form.valid" value="Siguiente">
  </div>
  </form>
</div>
