<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <p class="col-sm-3 col-md-2 mr-0">
    <img class="brand-logo" src="./assets/Yvasa_logo.png">
  </p>
</nav>
<body>
<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
          <br/><br/><br/>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                     <div id="menu">
                          <button type="button" class="btn btn-block btn-primary" (click)="authService.SignOut()">
                            <i class="fas fa-sign-out-alt"></i>SALIR
                          </button><br/>       
                    </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</body>