<div class="container" style="margin: 0px;" id="maximo">
    <div  *ngFor="let pregunta of informacionService.preguntas; let i = index ">
        <p *ngIf="i == 3">
            ¿El asesor de ventas le proporcionó de <i><b>manera clara</b></i> toda la información que solicitó?
        </p>
          </div>

<form (ngSubmit)="newPregunta4 (newPregunta4Form.value)" [formGroup]="newPregunta4Form" ngNativeValidate >
  <input type="hidden" formControlName="id">

  <div>
      <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
            <img class="card-img-top" src="assets/img/si.png" alt="Card image cap">
            <br>
            <input type="radio" id="option1" formControlName="pregunta04" value="si" (check)="seleccionar()" >
            <br>
            <label class="form-check-label" for="inlineRadio2">{{ lb_si }}</label>
            <br>
      </label>

      <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
            <img class="card-img-top" src="assets/img/no.png" alt="Card image cap">
            <br>
            <input type="radio" id="option2" formControlName="pregunta04" value="no" (check)="seleccionar()" >
            <br>
            <label class="form-check-label" for="inlineRadio2">{{ lb_no }}</label>
            <br>
      </label>
  </div>
        <div>
        <input type="submit" class="btn-lg scbtn" [disabled]="newPregunta4Form.valid" value="Siguiente">
        </div>
  </form>
</div>
