<div class="container" style="margin: 0px;" id="maximo">
    <div  *ngFor="let pregunta of informacionService.preguntas; let i = index ">
        <p *ngIf="i == 5">
          ¿El asesor le entrego <i><b>folletería y su tarjeta de presentación</b></i>?
        </p>
    </div>
    <br/>
<form (ngSubmit)="newPregunta6 (newPregunta6Form.value)" [formGroup]="newPregunta6Form" ngNativeValidate >
  <input type="hidden" formControlName="id">

  <div>
    <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
        <img class="card-img-top" src="assets/img/si.png" alt="Card image cap">
        <br>
        <input type="radio" id="option1" formControlName="pregunta06" value="si"  >
        <br>
        <label class="form-check-label" for="inlineRadio2">{{ lb_si }}</label>
        <br>
    </label>

    <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
            <img class="card-img-top" src="assets/img/no.png" alt="Card image cap">
            <br>
            <input type="radio" id="option2" formControlName="pregunta06" value="no" >
            <br>
            <label class="form-check-label" for="inlineRadio2">{{ lb_no }}</label>
            <br>
    </label>  
  </div><br/><br/>
        <div>
        <input type="submit" class="btn-lg scbtn" [disabled]="!newPregunta6Form.valid" value="Siguiente"><br/>
        <p style="text-align:right"><kbd style="padding-left: 50px;padding-right: 50px;">pregunta <i><b>6 de 14</b></i></kbd></p>
        </div>
</form>
</div>