<div class="container" style="margin: 0px;" id="maximo">
    <div  *ngFor="let pregunta of informacionService.preguntas; let i = index ">
        <p *ngIf="i == 13">
            En general, <i><b>¿Recomendaría a sus conocidos</b></i> la compra de casa en YVASA?
        </p>
    </div>

<form (ngSubmit)="newPregunta14 (newPregunta14Form.value)" [formGroup]="newPregunta14Form" ngNativeValidate >
  <input type="hidden" formControlName="id">

<div>
  <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
        <img class="card-img-top" src="assets/img/si.png" alt="Card image cap">
        <br>
        <input type="radio" id="option1" formControlName="pregunta14" value="si"  >
        <br>
        <label class="form-check-label" for="inlineRadio2">{{ lb_si }}</label>
        <br>
  </label>
  <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
            <img class="card-img-top" src="assets/img/no.png" alt="Card image cap">
            <br>
            <input type="radio" id="option2" formControlName="pregunta14" value="no" >
            <br>
            <label class="form-check-label" for="inlineRadio2">{{ lb_no }}</label>
            <br>
  </label>
  
</div> 
    <div>
    <input type="button" class="btn-lg scbtn" *ngIf="this.isButtonVisible" value="Porque" [disabled]="!newPregunta14Form.valid" (click)="this.isButtonVisible = false; sweet()"><br/>
    <input type="submit" class="btn-lg scbtn" *ngIf="this.isButtonNOTVisible" value="Siguiente">
  </div>

  
  </form>
</div>
