
<div class="container" style="margin: 0px;" id="maximo">
    <div  *ngFor="let pregunta of informacionService.preguntas ; let i = index ">
        <p *ngIf="i == 1">
            ¿Cómo valoraría <i><b>la atención y cortesía</b></i> recibida durante su visita?
        </p>
          </div>
          <br/>
<form (ngSubmit)="newPregunta2 (newPregunta2Form.value)" [formGroup]="newPregunta2Form" ngNativeValidate >
  <input type="hidden" formControlName="id">
  <div>
    <div>
  
<div class="container" id="maximo">
  <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
          <img class="card-img-top" src="assets/img/1.png" alt="Card image cap">
          <br>
          <input type="radio" id="option1" formControlName="pregunta02" value="1">
          <br>
          <label class="form-check-label" for="inlineRadio2">Muy</label>
          <br>
          <label class="form-check-label" for="inlineRadio2">Mala</label>
        </label>
  
        <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
          <img class="card-img-top" src="assets/img/2.png" alt="Card image cap">
          <br>
          <input type="radio" id="option2" formControlName="pregunta02" value="2" >
          <br>
          <label class="form-check-label" for="inlineRadio2">Mala</label>
          <br>
          <br>
        </label>
  
        <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
          <img class="card-img-top" src="assets/img/3.png" alt="Card image cap">
          <br>
          <input type="radio" id="option3" formControlName="pregunta02" value="3">
          <br>
          <label class="form-check-label" for="inlineRadio2">{{ lb_tres }}</label>
          <br>
          <br>
      </label>
  
      <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
        <img class="card-img-top" src="assets/img/4.png" alt="Card image cap">
        <br>
        <input type="radio" id="option4" formControlName="pregunta02" value="4">
        <br>
        <label class="form-check-label" for="inlineRadio2">Buena</label>
        <br>
        <br>
      </label>
  
      <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
        <img class="card-img-top" src="assets/img/5.png" alt="Card image cap">
        <br>
        <input type="radio" id="option5" formControlName="pregunta02" value="5"  >
        <br>
        <label class="form-check-label" for="inlineRadio2">Muy</label>
        <br>
        <label class="form-check-label" for="inlineRadio2">Buena</label>
      </label>
  </div><br/>
  </div>
    </div>
    <div>
      <input type="submit" class="btn-lg scbtn" [disabled]="!newPregunta2Form.valid" value="Siguiente"><br/>
      <p style="text-align:right"><kbd style="padding-left: 50px;padding-right: 50px;">pregunta <i><b>2 de 14</b></i></kbd></p>
    </div>
  </form>
</div>