
<div class="container" >
  <div  *ngFor="let pregunta of informacionService.preguntas; let i = index ">
<p *ngIf="i == 0">
  "¿Cómo valoraría la rapidez de respuesta del servicio que recibió en YVASA?"
</p>
  </div>

<!---- start table ----->
<form (ngSubmit)="newPregunta1 (newPregunta1Form.value)" [formGroup]="newPregunta1Form" ngNativeValidate >
  <input type="hidden" formControlName="id">
<div>
  <div>

<div class="container" style="text-align: center;">
      <label class="btn btn-light col-sm-12 col-md-6 col-lg-2">
        <br>
        <img class="card-img-top" src="assets/img/1.png" alt="Card image cap">
        <br>
        <br>
        <input type="radio" name="options" id="option1" formControlName="pregunta01" value="1" (check)="seleccionar()">
        <br>
        <br>
        <label class="form-check-label" for="inlineRadio2">{{ lb_extremadamente }}</label>&nbsp;
        <br>
        <label class="form-check-label" for="inlineRadio2">{{ lb_uno }}</label>&nbsp;
      </label>

      <label class="btn btn-light col-sm-12 col-md-6 col-lg-2">
          <br>
          <img class="card-img-top" src="assets/img/2.png" alt="Card image cap">
          <br>
          <br>
          <input type="radio" name="options" id="option2" formControlName="pregunta01" value="2" (check)="seleccionar()" >
          <br>
          <br>
          <label class="form-check-label" for="inlineRadio2">{{ lb_dos }}</label>&nbsp;
          <br>
          <br>
        </label>

        <label class="btn btn-light col-sm-12 col-md-6 col-lg-2">
            <br>
            <img class="card-img-top" src="assets/img/3.png" alt="Card image cap">
            <br>
            <br>
            <input type="radio" name="options" id="option3" formControlName="pregunta01" value="3" (check)="seleccionar()">
            <br>
            <br>
            <label class="form-check-label" for="inlineRadio2">{{ lb_tres }}</label>&nbsp;
            <br>
            <br>
        </label>

        <label class="btn btn-light col-sm-12 col-md-6 col-lg-2">
            <br>
            <img class="card-img-top" src="assets/img/4.png" alt="Card image cap">
            <br>
            <br>
            <input type="radio" name="options" id="option4" formControlName="pregunta01" value="4" (check)="seleccionar()">
            <br>
            <br>
            <label class="form-check-label" for="inlineRadio2">{{ lb_cuatro }}</label>&nbsp;
            <br>
            <br>
          </label>

          <label class="btn btn-light col-sm-12 col-md-6 col-lg-2">
              <br>
              <img class="card-img-top" src="assets/img/5.png" alt="Card image cap">
              <br>
              <br>
              <input type="radio" name="options" id="option5" formControlName="pregunta01" value="5" (check)="seleccionar()">
              <br>
              <br>
              <label class="form-check-label" for="inlineRadio2">{{ lb_extremadamente }}</label>&nbsp;
              <br>
              <label class="form-check-label" for="inlineRadio2">{{ lb_cinco }}</label>&nbsp;
            </label>
    
</div>    
</div>

  </div>
  <br>
  <div style="text-align: center;">
      <input type="submit" class=" btn-lg scbtn" [disabled]="newPregunta1Form.valid" >&nbsp;&nbsp;
  </div>
  </form>
  <br>
  <br>
</div>

<!---finish table--->
