<div class="container" >
    <div  *ngFor="let pregunta of informacionService.preguntas; let i = index ">
        <p *ngIf="i == 4">
           {{ pregunta.pregunta }}
        </p>
    </div>

<!---- start table ----->
<form (ngSubmit)="newPregunta5 (newPregunta5Form.value)" [formGroup]="newPregunta5Form" ngNativeValidate >
  <input type="hidden" formControlName="id">
  <div style="text-align: center;">
      <label class="btn btn-light">
        <br>
        <img class="card-img-top" src="assets/img/feliz.png" alt="Card image cap">
        <br>
        <br>
        <input type="radio" id="option1" formControlName="pregunta05" value="Solo vendio" (check)="seleccionar()" >
        <br>
        <br>
        <label class="form-check-label" for="inlineRadio2">{{ lb_triste }}</label>&nbsp;
        <br>
      </label>
  
        <label class="btn btn-light">
            <br>
            <img class="card-img-top" src="assets/img/mfeliz.png" alt="Card image cap">
            <br>
            <br>
            <input type="radio" id="option2" formControlName="pregunta05" value="Me ayudo" (check)="seleccionar()" >
            <br>
            <br>
            <label class="form-check-label" for="inlineRadio2">{{ lb_feliz }}</label>&nbsp;
            <br>
          </label>   
      </div>
        <br>
        <div style="text-align: center;">
          <input type="submit" class="btn-lg scbtn" [disabled]="newPregunta5Form.valid" value="Enviar">&nbsp;&nbsp;
        </div>
  </form>
  <br><br>
    </div>
