<div class="container" style="margin: 0px;" id="maximo">
    <div  *ngFor="let pregunta of informacionService.preguntas; let i = index ">
        <p *ngIf="i == 4">
            ¿Considera que el asesor se preocupó más por <i><b>proporcionarle ayuda</b></i><br/>de acuerdo a sus necesidades que en simplemente vender?
        </p>
    </div>

<form (ngSubmit)="newPregunta5 (newPregunta5Form.value)" [formGroup]="newPregunta5Form" ngNativeValidate >
  <input type="hidden" formControlName="id">

    <div>
        <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
          <img class="card-img-top" src="assets/img/feliz.png" alt="Card image cap">
          <br>
          <input type="radio" id="option1" formControlName="pregunta05" value="Solo vendio" >
          <br>
          <label class="form-check-label" for="inlineRadio2">{{ lb_triste }}</label>
          <br>
        </label>
    
        <label id="labon" class="btn btn-light col-sm-12 col-md-2 col-lg-2">
            <img class="card-img-top" src="assets/img/mfeliz.png" alt="Card image cap">
            <br>
            <input type="radio" id="option2" formControlName="pregunta05" value="Me ayudo"  >
            <br>
            <label class="form-check-label" for="inlineRadio2">{{ lb_feliz }}</label>
            <br>
        </label>   
      </div>
        <div>
          <input type="submit" class="btn-lg scbtn" [disabled]="!newPregunta5Form.valid" value="Siguiente">
        </div>
  </form>
</div>
