<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <img src="./assets/Yvasa_logo.png"/><br/><br/>
      <h3>Checador Online</h3>
      <br/><br/><br/><br/>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          cuenta@yvasa.com
        </button>
      </div>

    </div>

  </div>
</div>