
.boldlb {
  text-align: center;
  font-size: 17px;
  font-weight: bold;

}


.normallb {
  text-align: center;
  font-size: 17px;

}

.box {
 
  width: 150px;
  height: 150px;
  margin: auto;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

form{

    margin: 50px;
}
p{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

img{
    width: 200px;
}

.scbtn{
  background-color: #FFA726;
 border-color: #FFA726;
}

.prbtn{
 background-color: #FDD835;
 border-color: #FDD835;
 text-decoration-color: black;
}

.noMargin {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 00px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
}
