
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto" style="text-align: center;">
      <button *ngIf="existo" class="noMargin" (click)="comenzar()"><img class="rounded mx-auto d-block" src="assets/img/inicioo.png " ></button>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>
</div>

<div *ngIf="!existo">

<p *ngFor="let i of informacionService.formularios">
 {{ i.lbl_datos }}
</p>
<br/>
<form (ngSubmit)="newFormulario (newFormularioForm.value)" [formGroup]="newFormularioForm" style="margin-top: 0;">
 <div class="form-row">
    <div class="form-group col-sm-12 col-md-6 col-lg-6"  >
<input formControlName="id" type="hidden" class="form-control">
<input formControlName="fecha" type="hidden" class="form-control">
        <label class="boldlb" for="region">{{ region }}</label>
        <select formControlName="region" type="text" class="form-control" required>
              <option value="Nobelaro">Nobelaro</option>
              <option value="Portento">Portento</option>
              <option value="Novel">Novel</option>
              <option value="Pedregal">Pedregal</option>
        </select>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-6">
          <label class="boldlb" for="nombre_asesor">{{ asesor_nombre }}</label>
          <input formControlName="asesor_nombre" type="text" class="form-control" required>
        </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12 col-md-6 col-lg-6">
      <label class="boldlb" for="inputCity">{{ cliente_nombre }}</label>
      <input formControlName="cliente_nombre" type="text" class="form-control" required>
    </div>
    <div class="form-group col-sm-12 col-md-6 col-lg-6">
      <label class="boldlb" >{{cliente_correo}}</label>
      <input formControlName="cliente_correo" type="email" class="form-control" required>
    </div>
  </div>

<div style="text-align: center;">
  <input type="submit" class="btn-lg prbtn" value="Siguiente" [disabled]="!newFormularioForm.valid">&nbsp;&nbsp;
  <input type="submit" class="btn-lg scbtn" routerLink="/" value="Cancelar" (click)="cancelar()">
</div>
</form>
</div>
