
<app-variables></app-variables>

<router-outlet></router-outlet>

<div *ngIf="fin" >
<h1>Gracias por tu atención , esperamos que regreses pronto</h1>
<div>

        <app-prueba></app-prueba>
      
<!---  otra cosa -->


<!---
<app-pregunta1></app-pregunta1>
<app-pregunta2></app-pregunta2>
<app-pregunta3></app-pregunta3>
<app-pregunta5></app-pregunta5>
<app-pregunta6></app-pregunta6>
<app-pregunta7></app-pregunta7>
<app-pregunta8></app-pregunta8>
<app-pregunta9></app-pregunta9>
<app-pregunta10></app-pregunta10>
<app-pregunta11></app-pregunta11>
--->
