img
{
  height: 90px;
  width: 90px;
  align-content: center;

}
button 
{
    background-color: white;
    border-color: white;
}
label{
    color: black;
    font-weight: bold;
    

}

input{
    align-content: center;
}