
<div class="align-content-center" >
    <div  *ngFor="let pregunta of informacionService.preguntas ; let i = index ">
        <h2 *ngIf="i == 1">
           {{ pregunta.pregunta }}
        </h2>
          </div>
<!------>

<form (ngSubmit)="newPregunta2 (newPregunta2Form.value)" [formGroup]="newPregunta2Form">
<div class="box">
      <div>
        <div class="btn-group">
<!-------COMIENZA-->
          <button type="button" class="btn btn-primary">
            <table> 
              <tr>
                <input type="hidden" formControlName="id">
                <img class="card-img-top" src="../assets/img/1.png" alt="Card image cap">
              </tr>
              <br>
              <tr>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input formControlName="r1" class="form-check-input" type="radio" (check)="seleccionar()"  id="input1"  value="p21">
              </tr>
              <br>
              <tr>
                 <label class="form-check-label" for="inlineRadio2">{{ lb_extremadamente }}</label>
                <br>
                 <label class="form-check-label" for="inlineRadio2">{{ lb_uno }}</label>&nbsp;
              </tr>
            
            </table>
          </button>
<!---TERMINA---->
<!-------COMIENZA-->
<button type="button" class="btn btn-primary">
    <table> 
      <tr>
        <img class="card-img-top" src="../assets/img/2.png" alt="Card image cap">
      </tr>
      <br>
      <tr>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input formControlName="r2" class="form-check-input" type="radio" (check)="seleccionar()"  id="input2" value="p22">
      </tr>
      <br>
      <tr>
         <label class="form-check-label" for="inlineRadio2">{{ lb_dos }}</label>&nbsp;
         <br>
         <br>
      </tr>
    </table>
  </button>
<!---TERMINA---->
<!-------COMIENZA-->
<button type="button" class="btn btn-primary">
    <table> 
      <tr>
        <img class="card-img-top" src="../assets/img/3.png" alt="Card image cap">
      </tr>
      <br>
      <tr>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input formControlName="r3" class="form-check-input" type="radio" (check)="seleccionar()"  id="input3" value="p23">
      </tr>
      <br>
      <tr>
         <label class="form-check-label" for="inlineRadio2">{{ lb_tres }}</label>&nbsp;
         <br>
         <br>
      </tr>
    </table>
  </button>
<!---TERMINA---->
<!-------COMIENZA-->
<button type="button" class="btn btn-primary">
    <table> 
      <tr>
        <img class="card-img-top" src="../assets/img/4.png" alt="Card image cap">
      </tr>
      <br>
      <tr>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input formControlName="r4" class="form-check-input" type="radio" (check)="seleccionar()"  id="input4"  value="p24">
      </tr>
      <br>
      <tr>
         <label class="form-check-label" for="inlineRadio2">{{ lb_cuatro }}</label>&nbsp;
         <br>
         <br>
      </tr>
    </table>
  </button>
<!---TERMINA---->
<!-------COMIENZA-->
<button type="button" class="btn btn-primary">
    <table> 
      <tr>
        <img class="card-img-top" src="../assets/img/5.png" alt="Card image cap">
      </tr>
      <br>
      <tr>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input formControlName="r5" class="form-check-input" type="radio" (check)="seleccionar()"  id="input5"  value="p25">
      </tr>
      <br>
      <tr>
         <label class="form-check-label" for="inlineRadio2">{{ lb_extremadamente }}</label>&nbsp;
         <br>
         <label class="form-check-label" for="inlineRadio2">{{ lb_cinco }}</label>&nbsp;
      </tr>
    </table>
  </button>
<!---TERMINA---->


        </div>
      </div>

      <br>
      <br>
      <br>
      <input type="submit" class="btn-lg scbtn" [disabled]="newPregunta2Form.valid" >&nbsp;&nbsp;
    </div>
  </form>
</div>
